*{
    margin: 0;
    padding: 0;
}
/*--------------------Hire Me Button-------------------*/
.hire-me-button{    
    text-decoration: none;
    font-style: bold;
    font-weight: 300;
    padding: 15px 50px;
    border-radius: 5px;
    background-color: rgba(255, 128, 99, 1);
    color: white;
}

.header-area{
    width: 100%;
    height: 100vh;
}

.profile-image{
    height:auto;
    width: auto;
}

.header-icons{
    font-size: 30px;
    margin: 10px;
    
}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

          .bgimg {
        background-image: none;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

          .bgimg {
        background-image: none;
    }

}